@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
header ul li figure img {
  max-width: 50px;
}
menuitem {
  clear: both;
  padding: 0 15px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
}
div {
  font-family: "Montserrat", sans-serif;
}
.btn {
  font-family: "Montserrat", sans-serif;
  color: black;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #c1f1fc;
  height: 40px;
  width: 220px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
}
.btn-accent {
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #fee044;
  font-size: 18px;
  font-weight: 500;
  width: 220px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}
.jumbotron {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
}
.jumbotron .left {
  display: grid;
  width: 50%;
  padding: 3rem;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #ffffff;
  -webkit-text-stroke-width: medium;
  padding: 0;
  margin: 0;
}
h2 {
  padding-top: 0;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  -webkit-text-stroke-width: medium;
  color: #fee044;
}
.jumbotron .left p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  max-width: 70%;
  font-weight: 200;
  color: #ffffff;
}
.btns {
  display: flex;
  flex-direction: row;
}
.imagebg {
  display: flex;
  flex-direction: column;
  justfy-content: flex-end;
  align-content: space-around;
  align-items: flex-end;
}
.imagebg figure img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.imagebg {
  border-radius: 3000px;
  background-color: #c1f1fc;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.right-space {
  margin-right: 1rem;
}
.ourplus {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
}
.ourplus div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem;
  text-align: center;
}
.ourplus h3 {
  margin: 1rem auto;
}
.about-us {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.about-us h3 {
  color: #111111;
  font-size: 35px;
  padding: 2rem;
}
.about-us h3 span {
  color: blue;
}
.ourservices {
  display: flex;
  flex-direction: column;
}
.ourservices .ourservices-title {
  padding: 2rem;
}
.ourservices-title {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
}

.ourservices-title span {
  color: blue;
}
.services-description {
  display: flex;
  flex-direction: row;
}
.services-description .container {
  width: 33%;
  display: grid;
  place-items: center;
  min-height: 20rem;
  margin: 2rem;
  border-radius: 5px;
}
.services-description h2 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.bg1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning1.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}
.bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning2.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning3.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.services-description .container:hover {
  background-size: 110%;
}
.hide {
  display: none;
  -wekit-transtion: all 0.3s ease-in-out;
}

.container:hover > div > .hide {
  display: flex;
}
.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container > div > h2 {
  font-size: 27px;
  color: white;
  padding: 2rem;
  line-height: 2rem;
}
.container > div > span {
  color: #fee044;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 2rem;
}
.calculator {
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
}
.calculator h2 {
  padding: 2rem 0 1rem 2rem;
  font-size: 35px;
  color: white;
  font-weight: 400;
}
.calculator span {
  color: #fee044;
}
.first-form {
  display: flex;
  flex-direction: row;
}
.calculator .left {
  width: 50%;
}
.calculator .left h2 {
  font-size: 25px;
  padding: 2rem;
  line-height: 2rem;
}
.calculator .right {
  width: 50%;
}
.calculator .right h2,
.calculator .left h2,
.calculator .secondform h2 {
  font-weight: 100;
  line-height: 2rem;
  font-size: 20px;
}
.secondform h2 {
  padding: 2rem 0 0 2rem;
}
input[type="range"] {
  width: 90%;
  height: 2px;
  -webkit-appearance: yellow;
  -moz-appearance: none;
}
fieldset {
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: yellow;
}
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
#typeofhouse img {
  width: 95px;
  margin: 0 0 0 2rem;
}
#typeofhouse img {
  cursor: pointer;
}
input[type="checkbox"] {
  border: 2px solid #6fc3;
  width: 20px;
  height: 20px;
  border-color: #fee044;
  display: inline;
  vertical-align: middle;
  transition: all 0.2s;
  opacity: 0.7;
}
.secondform {
  display: flex;
  flex-direction: column;
}
.formstree {
  display: flex;
  margin: 0 2rem 0 2rem;
}
.formstree > div {
  width: 33%;
}
.formstree > div > form > label {
  margin: 10px;
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
output {
  font-size: 20px;
  color: white;
  position: absolute;
  margin-left: 5px;
}
.tipesofcleaning {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 95%;
}
.tipesofcleaning > div {
  width: 25%;
  display: grid;
  place-items: center;
  color: #ffffff;
}
.tipesofcleaning > div > figure {
  padding: 1rem;
}
.total {
  font-size: 31px;
  font-weight: bold;
}
.about-us-section {
  display: flex;
}
.about-us-section h1 {
  font-size: 35px;
  color: #111111;
  font-weight: 500;
  padding-bottom: 2rem;
}
.about-us-section h1 span {
  color: #0000ff;
}
.about-us-section .left {
  width: 50%;
  padding: 4rem 2rem;
}
.about-us-subtitles {
  color: #0000ff;
  padding: 1rem;
  font-size: 25px;
  font-weight: 500;
  line-height: 2rem;
}
.about-us-section p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.about-us-section ol li {
  list-style: none;
  padding: 0 0 1rem 0;
}
.about-us-section ol li:before {
  content: "🔹";
}
.about-us-section .right {
  width: 50%;
  overflow: hidden;
  padding: 2rem;
}
.image-button,
.image-center,
.image-top {
  position: absolute;
  max-width: 30%;
  border-radius: 15px;
}
.image-top {
  z-index: -1;
}
.image-center {
  z-index: 1;
  margin-left: 15%;
  margin-top: 25%;
}
.image-button {
  z-index: -1;
  margin: 43% 0 0 0;
}
.questions {
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
  display: flex;
  flex-direction: column;
  align-items: Center;
}
.questions h1 {
  text-align: center;
  padding: 2rem 0 1rem 2rem;
  font-size: 35px;
  font-weight: 400;
}
.questions h1 span {
  color: #fee044;
}
.containerquestions {
  width: 90%;
  color: white;
  font-size: 25px;
  margin-bottom: 5rem;
}
.headerquestion {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: solid 0.1rem;
  cursor: pointer;
  border-bottom-style: outset;
}
.descriptionquestion {
  width: 80%;
}
.iconsquestion {
  width: 20%;
  display: flex;
  justify-content: end;
}
.iconsquestion > div {
  border: 0;
  font-weight: 100;
  background: #fff;
  margin: 0;
  color: #111;
  display: flex;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
}
.recomendations {
  padding: 2rem;
}
.recomendations h1 {
  color: black;
  font-size: 40px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0 4rem 0;
}
.recomendations > div {
  display: flex;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user figure img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.user h3 {
  margin-bottom: 1rem;
}
.user span {
  color: #d7d3d3;
}
.user p {
  padding: 0 2rem;
  text-align: center;
  margin: 1.5rem 0;
  font-weight: 100;
}
.recomendations h1 span {
  color: #0000ff;
}
footer {
  display: flex;
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
}
footer .left,
footer .right {
  margin: 2rem 0;
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .left p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 25px;
}
footer .right p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.social {
  display: flex;
  flex-direction: row;
}
footer span {
  display: block;
  padding: 1rem 0;
}
.phone-big {
  font-size: 45px;
  color: #fee044;
  font-weight: 900;
}
.email-big {
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
}
.social img {
  width: 100px;
  padding: 1.5rem;
}

footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form button {
  width: 65%;
}
input[type="text"] {
  width: 65%;
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 0.5rem;
}
input[type="email"] {
  width: 65%;
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 0.5rem;
}
textarea {
  width: 65%;
  border-radius: 5px;
  outline: none;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 0.5rem;
}

.hide-questions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.contentquestion {
  padding: 2rem;
  font-weight: 100;
  font-size: 16px;
  transition: opacity 1s ease-out;
}

.simple-cleanning,
.general-cleanning,
.remont-cleanning {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #000000a3;
}
.btn-close {
  margin-left: 90%;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}
.content {
  background-color: #ffffff;
  padding: 5rem;
  max-width: 80%;
  border-radius: 5px;
}
.content h2 {
  padding: 2rem;
}

@media all and (max-width: 500px) {
  header {
    padding: 1rem;
  }
  .menu-mobil {
    font-size: 75px;
    line-height: 0.5rem;
    margin-left: 35px;
  }
  .close-menu {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 42px;
    color: white;
    font-weight: 900;
    margin-left: -2rem;
  }
  .menu-mobile {
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    height: 100%;
    transition: all 2s;
  }
  .menu-mobile .menu-display {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 1rem;
    line-height: 4;
    align-items: center;
  }
  .menu-mobile .menu-display menuitem {
    color: white;
    font-size: 23px;
    text-transform: uppercase;
  }
  .menu-mobil::before {
    content: "-";
  }
  .menu-mobil::after {
    content: "-";
    display: flex;
  }
  .menu-desktop {
    display: none;
  }
  .logo-desktop > img {
    padding: 1rem;
    max-width: 70%;
  }
  .social {
    display: none;
  }
  .jumbotron {
    flex-direction: column;
    height: auto;
  }
  .jumbotron h1 {
    font-size: 30px;
    padding-bottom: 1.5rem;
  }
  .jumbotron h2 {
    font-size: 25px;
    padding-bottom: 2.5rem;
  }
  .jumbotron .left {
    width: 85%;
    padding: 0 0 2rem 2.5rem;
  }

  .jumbotron p {
    padding-bottom: 2.5rem;
  }
  .jumbotron .btns {
    flex-direction: column;
  }
  .jumbotron .btn-accent {
    margin-bottom: 1rem;
  }
  .jumbotron .btn,
  .jumbotron .btn-accent {
    width: 80%;
  }
  .jumbotron .right {
    width: 100%;
    padding: 1.5rem;
  }

  .ourplus {
    flex-direction: column;
  }

  .about-us {
    flex-direction: column;
  }
  .services-description {
    flex-direction: column;
  }
  .services-description .container {
    width: 90%;
    margin: 1rem;
  }
  .ourservices .ourservices-title {
    padding: 1rem;
    font-size: 32px;
  }
  .first-form {
    flex-direction: column;
  }
  .content {
    padding: 2rem;
  }
  .container > div > h2 {
    font-weight: 400;
    line-height: 1.5rem;
  }
  .calculator .left {
    width: 100%;
  }
  .calculator .right {
    width: 100%;
  }
  #typeofhouse img {
    margin: 0 0 0 1rem;
  }
  .formstree {
    width: 87%;
    flex-direction: column;
  }
  .formstree > div {
    width: 90%;
  }
  .tipesofcleaning {
    flex-direction: column;
  }
  .about-us-section {
    flex-direction: column;
  }
  .about-us-section .left,
  .about-us-section .right {
    width: 82%;
  }
  .about-us-section .right {
    display: none;
  }
  .descriptionquestion {
    font-size: 1px;
  }
  .recomendations > div {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  footer .left,
  footer .right {
    width: 100%;
  }
  .simple-cleanning,
  .general-cleanning,
  .remont-cleanning {
    width: 95%;
    padding: 0.5rem;
  }
  .content h2 {
    padding: 0 0 1rem 0;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
  }
  footer .left,
  footer .right {
    padding: 1rem 0;
  }
  .tipesofcleaning {
    width: 80%;
  }
}
