@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
header {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
header ul li figure img {
  max-width: 50px;
}
menuitem {
  clear: both;
  padding: 0 15px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
}
div {
  font-family: "Montserrat", sans-serif;
}
.btn {
  font-family: "Montserrat", sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1f1fc;
  height: 40px;
  width: 220px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}
.btn-accent {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fee044;
  font-size: 18px;
  font-weight: 500;
  width: 220px;
  height: 40px;
  border-radius: 5px;
}
.jumbotron {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
}
.jumbotron .left {
  display: grid;
  width: 50%;
  padding: 3rem;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #ffffff;
  -webkit-text-stroke-width: medium;
  padding: 0;
  margin: 0;
}
h2 {
  padding-top: 0;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  -webkit-text-stroke-width: medium;
  color: #fee044;
}
.jumbotron .left p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  max-width: 70%;
  font-weight: 200;
  color: #ffffff;
}
.btns {
  display: flex;
  flex-direction: row;
}
.imagebg {
  display: flex;
  flex-direction: column;
  justfy-content: flex-end;
  align-content: space-around;
  align-items: flex-end;
}
.imagebg figure img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.imagebg {
  border-radius: 3000px;
  background-color: #c1f1fc;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.right-space {
  margin-right: 1rem;
}
.ourplus {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
}
.ourplus div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem;
  text-align: center;
}
.ourplus h3 {
  margin: 1rem auto;
}
.about-us {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.about-us h3 {
  color: #111111;
  font-size: 35px;
  padding: 2rem;
}
.about-us h3 span {
  color: blue;
}
.ourservices {
  display: flex;
  flex-direction: column;
}
.ourservices .ourservices-title {
  padding: 2rem;
}
.ourservices-title {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
}

.ourservices-title span {
  color: blue;
}
.services-description {
  display: flex;
  flex-direction: row;
}
.services-description .container {
  width: 33%;
  display: grid;
  place-items: center;
  min-height: 20rem;
  margin: 2rem;
  border-radius: 5px;
}
.services-description h2 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.bg1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning1.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}
.bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning2.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bgs/cleaning3.webp");
  background-position: center top;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

.services-description .container:hover {
  background-size: 110%;
}
.hide {
  display: none;
  -wekit-transtion: all 0.3s ease-in-out;
}

.container:hover > div > .hide {
  display: flex;
}
.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container > div > h2 {
  font-size: 27px;
  color: white;
  padding: 2rem;
  line-height: 2rem;
}
.container > div > span {
  color: #fee044;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 2rem;
}
.calculator {
  background-image: linear-gradient(to bottom, rgb(39 127 205), rgb(42 125 194));
}
.calculator h2 {
  padding: 2rem 0 1rem 2rem;
  font-size: 35px;
  color: white;
  font-weight: 400;
}
.calculator span {
  color: #fee044;
}
.first-form {
  display: flex;
  flex-direction: row;
}
.calculator .left {
  width: 50%;
}
.calculator .left h2 {
  font-size: 25px;
  padding: 2rem;
  line-height: 2rem;
}
.calculator .right {
  width: 50%;
}
.calculator .right h2,
.calculator .left h2,
.calculator .secondform h2 {
  font-weight: 100;
  line-height: 2rem;
  font-size: 20px;
}
.secondform h2 {
  padding: 2rem 0 0 2rem;
}
input[type="range"] {
  width: 90%;
  height: 2px;
  -webkit-appearance: yellow;
  -moz-appearance: none;
}
fieldset {
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: yellow;
}
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
#typeofhouse img {
  width: 95px;
  margin: 0 0 0 2rem;
}
#typeofhouse img {
  cursor: pointer;
}
input[type="checkbox"] {
  border: 2px solid #6fc3;
  width: 20px;
  height: 20px;
  border-color: #fee044;
  display: inline;
  vertical-align: middle;
  transition: all 0.2s;
  opacity: 0.7;
}
.secondform {
  display: flex;
  flex-direction: column;
}
.formstree {
  display: flex;
  margin: 0 2rem 0 2rem;
}
.formstree > div {
  width: 33%;
}
.formstree > div > form > label {
  margin: 10px;
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
output {
  font-size: 20px;
  color: white;
  position: absolute;
  margin-left: 5px;
}
.tipesofcleaning {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 95%;
}
.tipesofcleaning > div {
  width: 25%;
  display: grid;
  place-items: center;
  color: #ffffff;
}
.tipesofcleaning > div > figure {
  padding: 1rem;
}
.total {
  font-size: 31px;
  font-weight: 600;
}
